* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppin';
}

body {
    background-color: #f9f9f9;
}

.container {
    background-color: inherite;
    display: flex;
    flex-direction: column;
}